/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 3px;
  padding: 0;
  
}

header{
  display: flex;
  background-color: rgb(16, 25, 181);
  position: relative;
  padding: 20px 40px;
  height: 250px;
  color: white;

}

.header-image{
  height: 300px;
  position: absolute;
  right: 0;
  top:80px;
}
.header-text{
  position: absolute;
  left: 60px;
  top:120px;
  line-height: 30px;
  
}
.header-text h2{
  
  
  font-size: 1.2em;
}


/* nav */
nav{
  width: 500px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 40px;
}

/* <!-- Companies --> */
.companies{
 
  display: flex;
  width: 60vw;
  justify-content: space-around;
  padding: 15px 30px;
}

/* cards */
.api{
  
  font-size: 0.8em;
  padding: 20px 40px;
  
 
  
}
.api-heading{
  position: relative;
  left: 50px;
  
}
.cards{
  display: flex;
  justify-content: space-around;
  

}
/* <!-- Blog section --> */
.blog-heading{
  padding: 20px 40px;
}

.blog-cards{
  display:flex;
  
  padding: 20px 40px;
 
  
}
.blog-card{
  display: flex;
  
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
.blog-image img{
  height: 200px;
}

/* faq-section */
.faq-section{
  display: flex;
  background-color:rgb(216, 226, 236);
  justify-content: space-around;
}
.faq-section .faq-image img{
  height: 200px;
}
.faq-section button{
  padding: 5px 25px;
  background-color: #2827CC;
  border: none;
  color: white;
}
.download-section{
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
 padding: 0 40px;
 
  
}
.download-section form{
  position: relative;
  width: 400px;
  border: 2px solid rgb(58, 46, 46);
  border-radius: 36px;

}
.download-section input{
  border: none;
  width: 270px;
 text-align: center;
}
.download-section button{
  background-color: blue;
  border: none;
  padding: 5px 10px;
  border-radius: 36px;
  color: aliceblue;
}
/* footer */
.footer-section{
  display: flex;
  height: 12vh;
  background-color: blue;
  justify-content: space-between;
  padding: 5px 25px;

}

.footer-left .list{
  display: flex;
 list-style: none;
}
.logos-list{
  display: flex;
  list-style: none;
}